[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot.git
